* { 
	box-sizing: border-box;
}
html, body {
	background: #fff;
	color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkslateblue;
}
	
body {
	text-rendering: optimizeLegibility;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-bottom: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 60%;
    height: 65vh;
    margin-bottom: 150px;
}

#calculator {
    width: inherit;
    height: inherit;
    min-width: 300px;
    min-height: 400px;
    max-width: 500px;
    padding: 10px;
    border: 2px solid rgb(99, 58, 15);
    border-radius: 10px;
    box-shadow: 0 2px 0 rgb(119, 97, 64);
    display: flex;
    flex-direction: column;
    background-color: coral;
}

#make {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 2px;
    background-image: linear-gradient(rgb(233, 231, 227) 28%, 
		rgb(213, 200, 200) 40%,
		rgb(245, 242, 233) 54%);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}

.display {
    display: flex;
    flex-direction: column;
    height: 150px;
    border-radius: 5px;
    border: 1px solid rgb(99, 58, 15);
    flex: 3;
    margin-bottom: 5px;
    text-align: end;
    padding: 5px;
    position: relative;
    box-shadow: 0 1px 0 gray inset;
}
#calculator .display {
    background-color: #fff;
}

#primary {
    flex: 3;
    font-size: clamp(2rem, -0.25rem + 4.17vw, 3.45rem);
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#secondary {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-top: 8px;
    font-size: clamp(0.87rem, -0.202rem + 1.99vw, 1.56rem);
}

#secondary div {
    padding-left: 5px;
}

button {
    font-size: 18px;
    background-color: aliceblue;
    border-radius: 3px;
    border: 1px solid rgb(208, 212, 216);
    user-select: none;
    box-shadow: 0 1px 0 gray;
}

button:hover {
    background-color: rgb(213, 225, 237);
}

.operator.selected,
button:active {
    background-color: rgb(101, 132, 162);
}

.mem,
.mem:disabled:hover,
.mem:disabled:active {
    font-size: 12px;
    background-color: #fff;
}
.mem.instore {
    border: 1px solid black;
}

.mem:hover {
    background-color: rgb(236, 242, 247);
}

.mem:active {
    background-color: rgb(119, 149, 180); 
}

.number {
    font-size: 24px;
    background-color: rgb(172, 209, 242);
}

.operator {
    font-size: 24px;
}

.number:hover {
    background-color: rgb(140, 180, 215);
}

.number:active {
    background-color: rgb(64, 98, 129);
    color: #fff;
}

.row {
    display: flex;
    
}
.row .calc {
    flex: 1;
    margin-left: 3px;
    margin-top: 3px;
}
.row > :first-child {
    margin-left: 0 !important;
}

.buttons {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    flex: 7;
}

.buttons .row {
    flex: 1;
}


.buttons .memory {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3px;
}

.buttons .memory .mem {
    flex: 1;
    margin-left: 2px;
}

.buttons .memory > :first-child {
    margin-left: 0 !important;
}